<div class="heading-container">
    <h1>
        This First Heading <span>Will Catch Your Eye</span>
    </h1>
    <p>
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoL5z-yR8duJeqjrHbUQBYGcKmetUNvO8BDQ&s" alt="Walter Withe">
    </div>
</div>